#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=0

PREFIX       := /usr
LISPDIR      := /usr/share/emacs/site-lisp

include /usr/share/cdbs/1/rules/debhelper.mk

clean::
	[ ! -f Makefile ] || $(MAKE) distclean

configure/dvc::
	autoconf -f -i
	./configure --prefix=$(PREFIX) --with-lispdir=$(LISPDIR)
	$(MAKE) prefix=$(DEB_DESTDIR) generated-files
	$(MAKE) info

install/dvc::
	install -m 644 config.status Makefile* $(DEB_DESTDIR)$(LISPDIR)/dvc/
	install -m 644 lisp/Makefile* $(DEB_DESTDIR)$(LISPDIR)/dvc/lisp/
	install -m 644 lisp/Makefile* lisp/*.el $(DEB_DESTDIR)$(LISPDIR)/dvc/lisp/
	install -m 644 lisp/contrib/*.el $(DEB_DESTDIR)$(LISPDIR)/dvc/lisp/contrib/
